h5py
timm==0.9.8
tqdm
numpy==%NUMPY_VERSION%
pandas
pillow
einops
scikit-learn
scikit-survival
wholeslidedata
torch==%PYTORCH_VERSION%
torchvision==%TORCHVISION_VERSION%
SimpleITK
PyYAML
opencv-python
matplotlib
scipy
openslide-python==1.3.1
tensorboardX
addict
